body{
  background: black; 
}
a{
  color: #fdf800; 
  text-decoration: none;
  font-family: Menlo, Monaco, Liberation Mono; 
}
.title-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
  text-align: center;
  color: white;
}
.body-font-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.body-font-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.body-font-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.body-font-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

