body{
  background: black; 
  color: white;
}
a{
  color: white; 
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin:auto;
  text-align: center;
  
}
.title-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
  text-align: center;
  color: white;
}
.body-font-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.body-font-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.body-font-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.body-font-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
.f-writeup {
  color: #b5af9f;
  display: flex;
  justify-content: center;
  padding: 0% 20% 0% 20%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width:300px;
  margin:auto;
}
