body{
  background: rgb(0, 0, 0); 
  color: white;
}
a{ /* navbar */
  color: white; 
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin:5%;
  text-align: center;
  font-size: 1.1vw;
  
}
a:hover{ /* navbar */
  color:#fdf800;
}
.title-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
  text-align: center;
  color: white;
}
.body-font-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.body-font-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.body-font-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.body-font-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
.f-writeup {
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0% 20% 0% 20%;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 50vw;
  margin: auto;
  margin-top: 4vw;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border-radius: 40px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  border-color: yellow;
  border-style:solid;
	border-width: 1.4px;
  background-color: black;
}

ul { /* navbar */
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 1.2vw;
  overflow: hidden;
  width: 100%;
	height: 10%;
  
}

div{ /* navbar */
  text-align: center;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
}

.logo{
  z-index: 1;
}